In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Russell,US,2020-07-09 16:37:56,32.35,-85.20,84.20,70,40,3.36
1,1,Lagoa,PT,2020-07-09 16:41:17,39.05,-27.98,68.70,72,20,2.64
2,2,Bemidji,US,2020-07-09 16:41:17,47.47,-94.88,78.01,69,1,10.29
3,3,Abyek,IR,2020-07-09 16:41:17,36.07,50.55,89.60,18,40,9.17
4,4,Upernavik,GL,2020-07-09 16:38:18,72.79,-56.15,43.88,66,48,8.95

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 88

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Russell,US,2020-07-09 16:37:56,32.35,-85.20,84.20,70,40,3.36
2,2,Bemidji,US,2020-07-09 16:41:17,47.47,-94.88,78.01,69,1,10.29
11,11,Atuona,PF,2020-07-09 16:41:19,-9.80,-139.03,79.39,76,11,13.98
18,18,Chamba,IN,2020-07-09 16:41:20,32.57,76.13,76.62,59,43,4.85
21,21,Damghan,IR,2020-07-09 16:41:21,36.17,54.35,83.30,24,6,7.16
26,26,Ambagarh Chauki,IN,2020-07-09 16:41:22,20.78,80.72,80.13,81,100,11.30
35,35,Dingle,PH,2020-07-09 16:41:24,11.00,122.67,77.79,87,62,2.62
37,37,Arraial Do Cabo,BR,2020-07-09 16:39:20,-22.97,-42.03,80.60,65,1,17.22
39,39,Cabo San Lucas,MX,2020-07-09 16:37:10,22.89,-109.91,86.00,69,20,11.41
43,43,Beberibe,BR,2020-07-09 16:41:26,-4.18,-38.13,82.40,69,75,13.87

In [30]:
preferred_cities_df.count()

City_ID       200
City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [31]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [32]:
preferred_cities_df.notnull().sum()

City_ID       200
City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0           Russell      US     84.20  32.35  -85.20
2           Bemidji      US     78.01  47.47  -94.88
11           Atuona      PF     79.39  -9.80 -139.03
18           Chamba      IN     76.62  32.57   76.13
21          Damghan      IR     83.30  36.17   54.35
26  Ambagarh Chauki      IN     80.13  20.78   80.72
35           Dingle      PH     77.79  11.00  122.67
37  Arraial Do Cabo      BR     80.60 -22.97  -42.03
39   Cabo San Lucas      MX     86.00  22.89 -109.91
43         Beberibe      BR     82.40  -4.18  -38.13

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Russell,US,84.20,32.35,-85.20,Macs
2,Bemidji,US,78.01,47.47,-94.88,Hampton Inn & Suites Bemidji
11,Atuona,PF,79.39,-9.80,-139.03,Villa Enata
18,Chamba,IN,76.62,32.57,76.13,NotOnMap - Rafi's House
21,Damghan,IR,83.30,36.17,54.35,خوابگاه اساتيد دانشگاه دامغان
26,Ambagarh Chauki,IN,80.13,20.78,80.72,Family Dhaba
35,Dingle,PH,77.79,11.00,122.67,Camp Pasica
37,Arraial Do Cabo,BR,80.60,-22.97,-42.03,Pousada Porto Praia
39,Cabo San Lucas,MX,86.00,22.89,-109.91,Hotel Tesoro Los Cabos
43,Beberibe,BR,82.40,-4.18,-38.13,Villa Arte Pousada Morro Branco

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{column1}</dd>
# <dt>Another name</dt><dd>{column2}</dd>
# </dl>
# """
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [53]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]